<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.ripenapps.videoChamp</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>videoChamp</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_video-champ._tcp</string>
		<string>_video-champ._udp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>argentum-sans.semibold.ttf

</string>
		<string>argentum-sans.light.ttf</string>
		<string>argentum-sans.medium.ttf</string>
		<string>argentum-sans.regular.ttf</string>
		<string>argentum-sans.black.ttf</string>
		<string>argentum-sans.bold.ttf</string>
		<string>argentum-sans.extrabold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
